# Provider environment variables
aws_region = "us-east-1"
aws_profile = "default"
aws_config_file = ["~/.aws/config"]

# Port: 9092, or the port that you are using in case it is not 9092 (e.g. 9094 for TLS or 9096 for SASL).
mz_kafka_cluster_port = "9092"
# The VPC ID of the existing Kafka cluster
mz_kafka_vpc_id = ""

# The list of all brokers in the existing Kafka cluster and their respective subnets
mz_kafka_brokers =  default = [{"broker_id" = 1, "broker_ip" = "BROKER_1_IP_HERE", "subnet_id" = "subnet-1234567890abcdef"}, {"broker_id" = 2, "broker_ip" = "BROKER_2_IP_HERE", "subnet_id" = "subnet-fedcba0987654321"}]
